# Debian Preseed Configuration for V86 Emulator
# Use this with the Debian netinst ISO for automated installation
# via QEMU when building disk images manually.
#
# Usage with QEMU:
#   qemu-system-i386 -m 1024 \
#     -hda debian-v86.img \
#     -cdrom debian-12-netinst-i386.iso \
#     -append "auto=true priority=critical preseed/url=file:///preseed.cfg" \
#     -initrd initrd.gz \
#     -kernel linux
#

# Locale and keyboard
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

# Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian-xbox
d-i netcfg/get_domain string local

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Clock
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean false

# Partitioning - use entire disk, single partition
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Users
d-i passwd/root-password password xbox
d-i passwd/root-password-again password xbox
d-i passwd/user-fullname string Xbox User
d-i passwd/username string xbox
d-i passwd/user-password password xbox
d-i passwd/user-password-again password xbox

# Package selection - minimal server
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo bash-completion nano less htop tmux \
    net-tools iproute2 iputils-ping procps curl wget ca-certificates
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false

# Boot loader
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string /dev/sda

# Serial console configuration
d-i debian-installer/add-kernel-opts string console=ttyS0,115200n8 console=tty0 net.ifnames=0 nomodeset

# Finish
d-i finish-install/reboot_in_progress note
